{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="col-12 col-md-6">
        <h2 class="m-4 font-weight-normal">Bienvenue sur votre espace</h2><br>
        <p>Connectez-vous, apportez votre pierre et participez activement à la construction d'une ville écologique, solidaire et équitable...</p>
        </div>

        <div class="col-12 col-md-6">
            <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-4" placeholder="Email" required autofocus>
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control mt-4" placeholder="Mot de passe" required>

            <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-outline-info mt-4" style="float:right" type="submit">
            Connexion
            </button>
            </form>
        </div>
        
    </div>
</div>
{% endblock %}
