{% extends "base.html.twig" %}

{% block body %}

<main>

    <div class="container py-2">

        <div class="row">
            <div class="col-3">
                <h4>Initiatives en cours</h4>
                <hr>
                <h5 class="mt-4">Association</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla ipsum eum in sunt mollitia
                    quos, eius labore iste, voluptatibus molestias animi itaque harum. Sequi molestiae ratione
                    cupiditate similique debitis. </p>
                <a href="#" class="btn btn-info">Contact et Renseignements</a>
                <hr>

                <h5>Association</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla ipsum eum in sunt mollitia
                    quos, eius labore iste, voluptatibus molestias animi itaque harum. Sequi molestiae ratione
                    cupiditate similique debitis. </p>
                <a href="#" class="btn btn-info">Contact et Renseignements</a>
                <hr>

                <h5>Association</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla ipsum eum in sunt mollitia
                    quos, eius labore iste, voluptatibus molestias animi itaque harum. Sequi molestiae ratione
                    cupiditate similique debitis. </p>
                <a href="#" class="btn btn-info">Contact et Renseignements</a>
                <hr>

                <a class="twitter-timeline" data-width="220" data-tweet-limit="2" data-theme="dark" data-link-color="#E81C4F"
                    href="https://twitter.com/Anciela?ref_src=twsrc%5Etfw">Tweets by Anciela</a>


            </div>
            <div class="col-9">
                <h4><strong>Envie d'agir ?</strong></h4><br>
                <h5>Comme chacun peut aider à rendre notre société plus écologique, plus solidaire et plus humaine,
                    Associa'Lyon
                    favorise
                    la rencontre entre des personnes qui ont envie d'agir et des associations où s'engager.</h5><br>
                <h4><strong>Et cela de plusieurs façons !</strong></h4>
                <hr>

                <div class="row">
                    <div class="col-4 mt-5">
                        <div class="card" style="width: 17rem; height: 26rem;">
                            <img src="img/reparation_velo.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ateliers d'auto-réparation de vélos</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's
                                    content.</p>
                                <a href="#" class="btn btn-primary">Lire la suite</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mt-5">
                        <div class="card" style="width: 17rem; height: 26rem;  ">
                            <img src="img/reparation_velo.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's
                                    content.</p>
                                <a href="#" class="btn btn-primary">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="col-4 mt-5">
                        <div class="card" style="width: 17rem; height: 26rem; ">
                            <img src="img/reparation_velo.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's
                                    content.</p>
                                <a href="#" class="btn btn-primary">Lire la suite</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mt-4">
                        <div class="card" style="width: 17rem; height: 26rem; ">
                            <img src="img/reparation_velo.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's
                                    content.</p>
                                <a href="#" class="btn btn-primary">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="col-4 mt-4">
                        <div class="card" style="width: 17rem; height: 26rem; ">
                            <img src="img/reparation_velo.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's
                                    content.</p>
                                <a href="#" class="btn btn-primary">Lire la suite</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mt-4">
                        <div class="card" style="width: 17rem; height: 26rem; ">
                            <img src="img/reparation_velo.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's
                                    content.</p>
                                <a href="#" class="btn btn-primary">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="col-4 mt-4">
                        <div class="card" style="width: 17rem; height: 26rem; ">
                            <img src="img/reparation_velo.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's
                                    content.</p>
                                <a href="#" class="btn btn-primary">Lire la suite</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 mt-4">
                        <div class="card" style="width: 17rem; height: 26rem; ">
                            <img src="img/reparation_velo.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's
                                    content.</p>
                                <a href="#" class="btn btn-primary">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
</main>
{% endblock %}

{% block javascripts %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
