{% extends "base.html.twig" %}

{% block body %}

<main>
{# <div class="container-fluid py-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="dist/img/carousel/ateliers.jpg" style="width: 100%; height: 400px !important;" alt="slider 1">
                    </div>
                    <div class="carousel-item">
                        <img src="dist/img/carousel/jardon_partages.png" style="width: 100%; height: 400px !important;" alt="slider 2">
                    </div>
                    <div class="carousel-item">
                        <img src="dist/img/carousel/ateliers.jpg" style="width: 100%; height: 400px !important;" alt="slider 3">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div> #}
        
<div class="container py-2">

    <div class="row">
        <div class="d-none d-lg-block col-3">
            <h4><strong>Initiatives en cours</strong></h4>
            <hr>
            <h5 class="mt-4">Association</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla ipsum eum in sunt mollitia
                quos, eius labore iste, voluptatibus molestias animi itaque harum. Sequi molestiae ratione
                cupiditate similique debitis. </p>
            <a class="btn btn-outline-info" href="#">Contact et Renseignements</a>
            <hr>

            <h5>Association</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla ipsum eum in sunt mollitia
                quos, eius labore iste, voluptatibus molestias animi itaque harum. Sequi molestiae ratione
                cupiditate similique debitis. </p>
            <a href="#" class="btn btn-info">Contact et Renseignements</a>
            <hr>

            <h5>Association</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla ipsum eum in sunt mollitia
                quos, eius labore iste, voluptatibus molestias animi itaque harum. Sequi molestiae ratione
                cupiditate similique debitis. </p>
            <a href="#" class="btn btn-info">Contact et Renseignements</a>
            <hr>

            
            <a class="twitter-timeline" data-link-color="#E81C4F" data-theme="light" data-tweet-limit="2" data-width="220" 
            href="https://twitter.com/Anciela?ref_src=twsrc%5Etfw">Tweets by Anciela</a>



        </div>
        <div class="col-12 col-lg-9 text-center text-lg-left">
            <h4><strong>Envie d'agir ?</strong></h4><br>
            <h5>Comme chacun peut aider à rendre notre société plus écologique, plus solidaire et plus humaine,
                Associa'Lyon
                favorise
                la rencontre entre des personnes qui ont envie d'agir et des associations où s'engager.</h5><br>
            <h4><strong>Et cela de plusieurs façons !</strong></h4>
            <hr>

            <div class="row">
                <div class="d-flex justify-content-center col-12 col-md-6 col-xl-4 mt-5">
                    <div class="card" style="width: 17rem; height: 26rem;">
                        <img src="dist/img/categorie/amap.jpg" class="card-img-top" alt="...">
                        <div class="card-body" id="amap">
                            <h5 class="card-title"><strong>Amap</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's
                                content.</p>
                            <a href="#" class="btn btn-secondary">Lire la suite</a>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center col-12 col-md-6 col-xl-4 mt-5">
                    <div class="card" style="width: 17rem; height: 26rem;  ">
                        <img src="dist/img/categorie/reparation_velo.jpg" class="card-img-top" alt="...">
                        <div class="card-body" id="velo">
                            <h5 class="card-title"><strong>Réparation de vélos</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's
                                content.</p>
                            <a href="#" class="btn btn-secondary">Lire la suite</a>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="d-flex justify-content-center col-12 col-md-6 col-xl-4 mt-5">
                    <div class="card" style="width: 17rem; height: 26rem; ">
                        <img src="dist/img/categorie/cafe.jpg" class="card-img-top" alt="...">
                        <div class="card-body" id="cafe">
                            <h5 class="card-title"><strong>Cafés associatifs</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's
                                content.</p>
                            <a href="#" class="btn btn-secondary">Lire la suite</a>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center col-12 col-md-6 col-xl-4 mt-4">
                    <div class="card" style="width: 17rem; height: 26rem; ">
                        <img src="dist/img/categorie/cigale.jpg" class="card-img-top" alt="...">
                        <div class="card-body" id="cigales">
                            <h5 class="card-title"><strong>Cigales</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's
                                content.</p>
                            <a href="#" class="btn btn-secondary">Lire la suite</a>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="d-flex justify-content-center col-12 col-md-6 col-xl-4 mt-4">
                    <div class="card" style="width: 17rem; height: 26rem; ">
                        <img src="dist/img/categorie/composteur.jpg" class="card-img-top" alt="...">
                        <div class="card-body" id="compost">
                            <h5 class="card-title"><strong>Composteurs</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                </p>
                            <a href="#" class="btn btn-secondary">Lire la suite</a>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center col-12 col-md-6 col-xl-4 mt-4">
                    <div class="card" style="width: 17rem; height: 26rem;">
                        <img src="dist/img/categorie/jardin.jpg" class="card-img-top" alt="...">
                        <div class="card-body" id="jardin">
                            <h5 class="card-title"><strong>Jardins partagés</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's
                                content.</p>
                            <a href="#" class="btn btn-secondary">Lire la suite</a>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="d-flex justify-content-center col-12 col-md-6 col-xl-4 mt-4">
                    <div class="card" style="width: 17rem; height: 26rem; ">
                        <img src="dist/img/categorie/echanges_locaux.jpg" class="card-img-top" alt="...">
                        <div class="card-body" id="echanges">
                            <h5 class="card-title"><strong>Echanges locaux</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's
                                content.</p>
                            <a href="#" class="btn btn-secondary">Lire la suite</a>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center col-12 col-md-6 col-xl-4 mt-4">
                    <div class="card" style="width: 17rem; height: 26rem; ">
                        <img src="dist/img/categorie/boite_partage.jpg" class="card-img-top" alt="...">
                        <div class="card-body" id="boite">
                            <h5 class="card-title"><strong>Boîte à partage entre voisins</strong></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk</p>
                            <a href="#" class="btn btn-secondary">Lire la suite</a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="d-block d-lg-none text-center col-12 pt-3">
            <h4><strong>Initiatives en cours</strong></h4>
            <hr>
            <h5 class="mt-4">Association</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla ipsum eum in sunt mollitia
                quos, eius labore iste, voluptatibus molestias animi itaque harum. Sequi molestiae ratione
                cupiditate similique debitis. </p>
            <a class="btn btn-outline-info" href="#">Contact et Renseignements</a>
            <hr>

            <h5>Association</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla ipsum eum in sunt mollitia
                quos, eius labore iste, voluptatibus molestias animi itaque harum. Sequi molestiae ratione
                cupiditate similique debitis. </p>
            <a href="#" class="btn btn-info">Contact et Renseignements</a>
            <hr>

            <h5>Association</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla ipsum eum in sunt mollitia
                quos, eius labore iste, voluptatibus molestias animi itaque harum. Sequi molestiae ratione
                cupiditate similique debitis. </p>
            <a href="#" class="btn btn-info">Contact et Renseignements</a>
            <hr>

            
            <a class="twitter-timeline" data-link-color="#E81C4F" data-theme="light" data-tweet-limit="2" data-width="220" 
            href="https://twitter.com/Anciela?ref_src=twsrc%5Etfw">Tweets by Anciela</a>
        </div>
        

</main>
<hr>

<!--FOOTER-->
<footer class="container-fluid pt-5" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 pb-5">
                <h4>Informations</h4>
                <nav>
                    <ul>
                        <li><a href="apropos.html">À Propos</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="mentions.html">Dons citoyens</a></li>
                        <li><a href="presse.html">Presse</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-md-3 pb-5">
                <h4>Réseaux sociaux</h4>
                <nav>
                    <ul>
                        <li><a href="facebook.html">Facebook</a></li>
                        <li><a href="instagram.html">Instagram</a></li>
                        <li><a href="twitter.html">Twitter</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-md-6">
                <h3>Nos actualités</h3>
                <p>Abonnez-vous à notre newsletter pour être tenu informé des news d'Associa'Lyon !</p>
                <p class="error py-3 text-center">Vous n'avez pas rempli correctement le formulaire</p>
                <form action="newsletter.php" id="newsletter" method="post">
                    <fieldset>
                        <input class="col-12 col-md-6 mb-3" id="prenom" name="prenom" placeholder="Prénom" type="text">
                            <input class="col-12 col-md-6 mb-3" id="nom" name="nom" placeholder="Nom" type="text">
                                <input class="col-12 col-md-6 mb-3" id="email" name="email" placeholder="Adresse E-mail" type="email"></fieldset>
                                <input type="submit" value="VALIDER"></form>
                            </div>
                            <div class="col-12 pt-4">
                                <p>Pour toute question ou renseignement, nous sommes joignables au 09 81 67 26 81 - du lundi au
                                                        samedi de 9h30 à 18h00.
                                </p>
                                <p>Un site animé par Associa'Lyon. Images par Jean-Luc Cadrado. Tous droits réservés -
                                                        2019.</p>
                            </div>
                        </div>
                    </div>
                </footer>

{% endblock %}

{% block javascripts %}
<script async charset="utf-8" src="https://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="{{ asset('/dist/js/carousel.js') }}"></script>
{% endblock %}
