{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" 
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="m-4 font-weight-normal">Carte interactive</h2>
                <p>Cherchez et trouvez toutes les initiatives de quartier autour de vous sur notre carte interactive!</p><br>
                <p>Elle rassemble plus de 700 manières d'agir et de s'inspirer dans des associations sur Lyon et ses alentours</p>
            </div>
            <div class="col-12 col-md-6 mt-4">
                <div id="mapid" style="height: 700px; width: 700px;"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" 
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script type="text/javascript" src="{{ asset('/dist/js/leaflet.js') }}"></script>
{% endblock %}
