{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" 
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
{% endblock %}

{% block body %}
<div class="container">
    <h1>Carte intéractive</h1>
    <div id="mapid" style="height: 700px; width: 700px;"></div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" 
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script type="text/javascript" src="{{ asset('/dist/js/leaflet.js') }}"></script>
{% endblock %}
