<form method="post" action="{{ path('initiative_delete', {'id': initiative.id}) }}" onsubmit="return confirm
('Etes-vous sûr de vouloir supprimer cette initiative?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ initiative.id) }}">
    <button class="btn btn-outline-info ml-4">Supprimer</button>
</form>
