{{ form_start(form) }}
    {{ form_widget(form) }}
    <div id="locationField">
        <input id="autocomplete" placeholder="Votre adresse" onFocus="geolocate()" type="text" />
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
