{% extends 'base.html.twig' %}

{% block title %}Modifier une initiative{% endblock %}

{% block body %}
<h2 class="mb-4 font-weight-normal text-center">Modifier une initiative</h2>

    {{ include('initiative/_form.html.twig', {'button_label': 'Editer'}) }}
    
    {{ include('initiative/_delete_form.html.twig') }}
{% endblock %}

