{% extends 'base.html.twig' %}

{% block title %}Edit Initiative{% endblock %}

{% block body %}
    <h1>Modifier une initiative</h1>

    {{ include('initiative/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{app.request.headers.get('referer') }}">Annuler</a>

    {{ include('initiative/_delete_form.html.twig') }}
{% endblock %}
