{% extends 'base.html.twig' %}

{% block title %}Nouvelle Initiative{% endblock %}

{% block body %}

    <h2 class="m-4 font-weight-normal text-center">Publier une initiative</h2>>
        
    {{ include('initiative/_form.html.twig') }}
 
{% endblock %}
