{% extends 'base.html.twig' %}

{% block title %}New Initiative{% endblock %}

{% block body %}

    

    <h2 class="m-4 font-weight-normal text-center">Publier une initiative</h2>

    {{ include('initiative/_form.html.twig') }}

    <a href="{{app.request.headers.get('referer') }}" class="btn btn-outline-info mt-4" style="float:right">Annuler</a>


{% endblock %}
