{% extends 'base.html.twig' %}

{% block title %}Edit Proposition{% endblock %}

{% block body %}
    <h1>Edit Proposition</h1>

    {{ include('proposition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{app.request.headers.get('referer') }}">Annuler</a>

    {{ include('proposition/_delete_form.html.twig') }}
{% endblock %}
