{% extends 'base.html.twig' %}

{% block title %}New Proposition{% endblock %}

{% block body %}
    <h1>Create new Proposition</h1>

    {{ include('proposition/_form.html.twig') }}

    <a href="{{app.request.headers.get('referer') }}">Annuler</a>
{% endblock %}
