<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ASSOCIA'LYON{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/home.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/style.css') }}" />        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two:400,700|Merienda">
    
    
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="py-2">
        <div class="container-fluid bg-dark" id="cover">

            <div class="container text-center">
            <h1 class="pb-3">ASSOCIA'LYON</h1>
            <p class="pb-3">Agir ensemble pour une ville plus écologique et solidaire</p>

        </div>       
            <nav class="site-header sticky-top py-1">
                <div class="container d-flex flex-column flex-md-row justify-content-between">        
                        <a class="nav-link text-info" href="/home">Associa'Lyon</a>
                        <a class="nav-link text-info" href="/categorie">Trouver une initiative</a>
                        <a class="nav-link text-info" href="/proposition">Agir, proposer, collaborer...</a>
                        <a class="nav-link text-info" href="/map">Près de chez vous</a>
                    {% if is_granted('ROLE_USER') %}
                        <a class="nav-link text-info" href="/userui">Mon Espace</a>
                        <a class="nav-link text-info" href="/logout">Déconnexion</a>
                    {% else %}
                        <a class="nav-link text-info" href="/register">S'enregistrer</a>
                        <a class="nav-link text-info" href="/login">Connexion</a>
                    {% endif %}
                </div>
            </nav>

            </div>
        </header>
        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
        <script type="text/javascript" src="{{ asset('/dist/js/script.js') }}"></script>

        {% block javascripts %}{% endblock %}


    </body>
</html>
